<form method="POST" action="/pokemon">
    <label for="pokemonName">Name</label>
    <input id="pokemonName" type="text" name="name">
    <label for="pokemonType">Type</label>
    <input id="pokemonType" type="text" name="type">
    <label for="pokemonImage">Image</label>
    <input id="pokemonImage" type="text" name="image">
    <input type="submit">
</form>